style.css
#MainMenu {
    visibility: hidden;
}
header {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
.stAppDeployButton {
    display: none;
}
/* Небольшой отступ сверху для элементов боковой панели */
[data-testid="stSidebarUserContent"] {
    padding-top: 2rem;
}