
/* Скрывает изображение глаза в окне ввода пароля */
[data-testid="stTextInput"] button {
    display: none !important;

/* Дополнительная проверка скрытия изображение глаза в окне ввода пароля */
}
[data-testid="stTextInputPasswordFieldVisibilityToken"] {
    display: none !important;
}

/* Скрывает встроенное меню стримлит в верхнем левом углу экрана */
header[data-testid="stHeader"] {
    display: none !important;
}

/* Скрывает сайдбар */
[data-testid="stSidebar"], [data-testid="stSidebarCollapseButton"] {
    display: none !important;
}

/* ---Изменение названия программы---*/

/* Изменяет растояние названия программы от верхней границы страницы */
.block-container {
    padding-top: 1rem !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

/* Change tabs font size for workshop screens */
[data-testid="stBaseButton-tab"] p {
    font-size: 30px !important;   
    font-weight: 600 !important;  
}

/* Изменение привязки значка программы */
.header-wrapper {
    display: flex !important;
    align-items: center !important;
    gap: 14px !important;
}

/* Стиль значка приложения для гостя */
.icon-guest {
    fill: #64748b !important;
}

/* Стиль значка приложения для админа */
.icon-admin {
    fill: #140A9A !important;
    filter: drop-shadow(0 0 6px rgba(20, 10, 154, 0.4));
    animation: pulse-glow 2s infinite alternate;
}

/* Анимация пульсирующего неонового свечения вокруг контура шестеренки */
@keyframes pulse-glow {
    0% { filter: drop-shadow(0 0 2px rgba(255, 200, 47, 0.3)); }
    100% { filter: drop-shadow(0 0 8px rgba(255, 200, 47, 0.8)); }
}


/* Изменения стиля вкладок*/

/* Размер шрифта вкладок*/
button[data-baseweb="tab"] p {
    font-size: 18px !important;      
    font-weight: 400 !important;     
}

/* Изменение размеров, высоты и ширины самих кнопок вкладок */
button[data-baseweb="tab"] {
    padding-top: 15px !important;    /* Отступ сверху для увеличения высоты */
    padding-bottom: 15px !important; /* Отступ снизу */
    padding-left: 5px !important;   /* Отступ слева для ширины */
    padding-right: 5px !important;  /* Отступ справа */
    min-width: 0px !important;     /* Исправлено: добавлена 'p' в px. Делает вкладки одинаковыми */
}

/* Стиль для активной (выбранной) вкладки */
button[data-baseweb="tab"][aria-selected="true"] p {
    color: #140A9A !important;       /* Фирменный цвет Komatsu Blue для активного текста */
}

/* Цвет линии подчеркивания */
button[data-baseweb="tab"][aria-selected="true"] {
    border-bottom-color: #140A9A !important; 
}